:root{
    --navBackgroundColor: rgb(59, 88, 185);
    --navLinkColor:rgb(245, 231, 231);
    --navLinkBackgroundColor:rgb(93, 73, 84);
    --burgerBackgroundColor: rgb(226, 226, 226);
    --footerBackgroundColor: rgb(59, 88, 185);
    
}

*{
    margin: 0;
    padding: 0;
}



/* navigáció */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    position: static;
    top: 0;
    width: 100%;
    background-color: var(--navBackgroundColor);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--navLinkColor);
}
.icon_container{
    width: 2%;
}
.icon{
    min-width: 99.9%;
    min-height: 99.9%;
    max-width: 100%;
    max-height: 100%;
   
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--burgerBackgroundColor);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger{
    display: none;
    cursor: pointer;
}
a:hover{
    color: red;
}
a:active{
    color: white;
    border-bottom: 1px solid red;
}



/* main */
main{
    margin-top: 0vh;
    min-height: 90vh;
}
.first_main{
    
    background-image: url("images/picture_around_images.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first_main{
    color: white;
}
.center_gif{
    display: flex;
    width: 100%;
    justify-content: center;
}
.center_gif img{
    width: 25%;
}


.graphic_card_image_container img{
    max-width: 100%;
    max-height: 100%;
}
.projector_image_container{
    width: 20%;
}
.projector_image_container img{
    max-width: 100%;
    max-height: 100%;
}

.projector_gif{
    max-width: 20%;
}
.speaker_gif{
    max-width: 16%;
}

.center_welcome_message{
    text-align: center;
}
.einstein_quote{
    text-align: center;
    font-size: 1.5rem;
   
}


/* footer */
footer{
    height: 5vh;
    background-color: var(--footerBackgroundColor);
}


@media screen and (min-width:1001px){
    /* navigáció */
    .nav-links{
        width: 70%;
    }
}
@media screen and (max-width: 1000px) {
      /* navigáció */
    nav{
        position: fixed;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 90vh;
        top: 5vh;
        background-color: var(--navLinkBackgroundColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        transform: translateX(100%); 
		transition: transform 0.5s ease-in; 
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    /* main */
    main{
		margin-top: 5vh;
	}
    .center_gif img{
        width: 70%;
    }
    
}

/*menu icon changing*/

/*you need to pass it under the media screen*/
.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px); /*how fast the link are coming*/
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}









