:root {
  --navBackgroundColor: rgb(59, 88, 185);
  --navLinkColor: rgb(226, 226, 226);
  --navLinkBackgroundColor: rgb(93, 73, 84);
  --burgerBackgroundColor: rgb(226, 226, 226);
  --footerBackgroundColor: rgb(59, 88, 185);
  --firstCenterColor: rgb(226, 226, 226);
  --articleBackgroundColor: rgb(177, 213, 219);
}

* {
  margin: 0;
  padding: 0;
}

/* put article on the two sides of the welcome */

/* p *{

} */

/* navigáció */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  position: static;
  top: 0;
  width: 100%;
  background-color: var(--navBackgroundColor);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--navLinkColor);
}
.icon_container {
  display: flex;
}
.icon {
  max-width: 100%;
  max-height: 100%;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--burgerBackgroundColor);
  margin: 5px;
  transition: all 0.3s ease;
}
.burger {
  display: none;
  cursor: pointer;
}
a:hover {
  color: red;
}

/*index main */
main {
  margin-top: 0vh;
  min-height: 90vh;
  background-image: url("images/hatter/picture_around_images.jpg");
}
.first_center {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--firstCenterColor);
}

.center_gif {
  display: flex;
  width: 100%;
  justify-content: center;
}
.center_gif img {
  width: 25%;
}

/* bevezetes*/
.main-center {
  display: grid;
  justify-items: center;
}

/*cikkek*/

.linkek-es-szoveg {
  width: 50%;
  display: grid;
  grid-template-columns: 15% 85%;
  font-family: "Times New Roman", Times, serif;
}
.oldal-link-sav {
  background-color: green;
  text-align: center;
}

.oldal-linkek {
  padding: 0.5rem;
}
.oldal-linkek * {
  margin-bottom: 0.5rem;
}
.oldal-linkek {
  position: sticky;
  top: 0;
}
.oldal-linkek li {
  list-style-type: none;
}
.oldal-linkek a {
  font-size: 1rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.2rem;
}

article {
  background-color: var(--articleBackgroundColor);
}
article * {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.cím {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cím h1 {
  margin: 0;
}

.felsorolas {
  margin-left: 3.2rem;
}
.felsorolas * {
  margin: 0.3rem;
}
.bold {
  margin: 0;
  font-weight: bold;
}
.underline-bold {
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
}
.kepfeletti-szoveg {
  text-align: center;
}
.kep-alatti-szoveg {
  text-align: center;
}
.article-kep {
  display: block;
  border-radius: 1.1%;
  margin: 0.5rem auto;
}
/*tablazatok*/
.tablazat {
  width: 90%;
  text-align: center;
  margin: 0.5rem auto;
}
.tablazat,
th,
td {
  border: 1px solid black;
}
/*bevezetes*/
.bevezetes-kep {
  max-width: 45%;
}

/*monitorok*/
.crt-kep {
  max-width: 100%;
}
.lcd-kep {
  max-width: 100%;
}
.plazma-kep {
  max-width: 62%;
}
.oled-kep {
  max-width: 100%;
}
.gsync-kep {
  max-width: 100%;
}
.freesync-kep {
  max-width: 83%;
}
/*grafikus kartyak*/
.huto-modul-kep {
  max-width: 100%;
}
.isa-kep {
  max-width: 40%;
}
.pci-express-kep {
  max-width: 40%;
}
.vga-kep {
  max-width: 40%;
}
.dvi-kep {
  max-width: 40%;
}
.hdmi-kep {
  max-width: 40%;
}
.displayport-kep {
  max-width: 40%;
}
.monster-maze-kep {
  max-width: 45%;
}
/* footer */
footer {
  height: 5vh;
  background-color: var(--footerBackgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1001px) {
  /* navigáció */

  .nav-links {
    width: 70%;
  }
  .first_center {
    font-size: 1.3rem;
  }
}
/*Itt valt at avigacios sav*/
@media screen and (max-width: 1000px) {
  /* navigáció */
  nav {
    position: fixed;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 90vh;
    top: 5vh;
    background-color: var(--navLinkBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  /* main */
  main {
    margin-top: 5vh;
  }
  /*bevezetes*/

  .linkek-es-szoveg {
    width: 70%;
  }
}
/*menu icon changing*/

/*you need to pass it under the media screen*/
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); /*how fast the link are coming*/
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 1601px) {
  /* navigáció */
  .icon_container {
    width: 2.3%;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  /* navigáció */
  .icon_container {
    width: 2.5%;
  }
  /*bevezetes*/
  .linkek-es-szoveg {
    width: 60%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  /* navigáció */
  .icon_container {
    width: 3.4%;
  }
  /*bevezetes*/
  .linkek-es-szoveg {
    width: 65%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  /* navigáció */
  .icon_container {
    width: 3.4%;
  }
  /*bevezetes*/
  .linkek-es-szoveg {
    width: 70%;
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) {
  /* navigáció */
  .icon_container {
    width: 5%;
  }
  /*main*/
  .center_gif img {
    width: 30%;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  /* navigáció */
  .icon_container {
    width: 7%;
  }
  /*main*/
  .center_gif img {
    width: 50%;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  /* navigáció */
  .icon_container {
    width: 7%;
  }
  /*main*/
  .center_gif img {
    width: 50%;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
  /* navigáció */
  .icon_container {
    width: 9%;
  }
  /*main*/
  .center_gif img {
    width: 65%;
  }
  /*bevezetes*/
  .linkek-es-szoveg {
    width: 80%;
  }
}
@media screen and (max-width: 399px) {
  /* navigáció */
  .icon_container {
    width: 12%;
  }
  /*main*/
  .center_gif img {
    width: 80%;
  }
  /*bevezetes*/
  .linkek-es-szoveg {
    width: 100%;
  }
  .bevezetes-image {
    max-width: 45%;
  }
}
