:root{
    --navBackgroundColor: rgb(59, 88, 185);
    --navLinkColor:rgb(245, 231, 231);
    --burgerBackgroundColor: rgb(226, 226, 226);
    
}

*{
    margin: 0;
    padding: 0;
}



/* navigáció */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: static;
    top: 0;
    width: 100%;
    background-color: var(--navBackgroundColor);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--navLinkColor);
}
.icon_container{
    width: 2%;
}
.icon{
    max-width: 100%;
    max-height: 100%;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--burgerBackgroundColor);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger{
    display: none;
    cursor: pointer
}















main{
    margin-top: 0;
}